/* 	Developer: Max Coller 
	Start Date:  04/23/2023 */
	
/* set the height of the body and html to 100%*/
html, body {
  height: 100%;
  width: 100%;
}

/* for all displays larger than mobile, and print, hide the hamburger */
@media print, screen and (min-width: 480px) {
	.menu-burger, .menu-chkbx, .hamburger {
	display:none;
	}
}

/* set the default size, spacing and color of the header */
header {
  width: 105%;
  margin: 0px -10px 0px -10px;
  background-color: rgb(240,248,255);
}	

/* create the branding style for the h1 inside the header */
header h1 {
	text-shadow: 2px 2px 5px rgb(30,144,255);
	font-family: Garamond;
	background-image: linear-gradient(rgb(255,255,255),rgb(30,144,255));
}

/* style the nav section for all displays */
nav {
	width: 200px;
	float: left;
}
	
/* style the unordered list that is used for the menu in all displays */
nav ul {
    line-height: 2em;
    list-style-type: none;
    padding-left: 0px;
	text-indent: 5px; 
    border-radius: 5px;  
}

/* style the list items that make up the menu in all displays */
nav ul li {
	background-color: rgb(175,175,175);
    border-radius: 5px;
}

/* style the links inside the nav section in all displays */
nav a {
    color: rgb(255,255,0);
    font-weight:bold;
    text-decoration: none;
}

/* create the display grid for the four tiled images on the home page in all displays */
.image-grid {
	width: 90%;
	justify-content: center;
  	align-items: center;
  	display: grid; 
	grid-template-areas: 
	   "img-top-l  	img-top-r" 
	   "img-bot-l	img-bot-r"; 
}

/* assign the top left class to the top left grid area */
.img-top-l{
	display:flex;
	grid-area: img-top-l;
}

/* assign the top right class to the top right grid area */
.img-top-r{
	display:flex;
	grid-area: img-top-r;
}

/* assign the bottom left class to the bottom left grid area */
.img-bot-l{
	display:flex;
	grid-area: img-bot-l;
}

/* assign the bottom right class to the bottom right grid area */
.img-bot-r{
	display:flex;
	grid-area: img-bot-r;
}

/* style images that have the class of four-square with auto resizing and a border */
img.four-square {
  	width: auto;
  	height: auto;
  	max-width: 90%;
  	min-width: 100px;
    padding:5px;
    margin:5px;
    border-style:solid;
    border-color:rgb(175,175,175) rgb(200,200,200);
    background-color:black;
    border-radius: 20px;
}

/* style the h2 in all displays */
section h2 {
	font-family: Copperplate, "Copperplate Gothic", serif;
	max-width: 870px;
} 

/* style the footer in all displays */
footer{
	text-align: center;
	font-size: .75em;
	font-family: Garamond;
	background-color: rgb(200,200,200);
	margin:0px -10px 20px -10px;
}

/* styles for the products table */ 
section table{ 
	border: 2px solid black; 
	border-collapse: collapse;
	width:80%;
} 

/* add a border to the cells in the products table */
section table td,th{ 
	border: 1px solid rgb(175,175,175); 
}

/* make every other row a different color in the products table */
section table tr:nth-child(even) { 
	background-color: rgb(240,248,255); 
} 

/* make the column containing the prices a different color */
section table col.price { 
	background-color: rgb(255,255,224); 
}

/* add the hover pseudoclass to the rows when they are hovered over */
section table tr:hover {
	background-color: rgb(176,224,230);
} 

/* modify the section and products table in it for all displays smaller than full screen */
@media print, screen and (max-width: 768px) 
	section {
		width: 100%;
		text-align: center;
	}

	section table {
		margin: 10px auto 20px auto;
	}
}

/* style for the form background */
.light_blue_background{
	background-color: rgb(240,248,255);
}

/* style for the about us page */
section div.about_us {
	margin: 5px, auto 5px auto;
	border: 1px solid rgb(175,175,175);
	padding: 10px; 
	background-color: rgb(240,248,255);
	border-radius:15px;
	max-width:600px;
}

/* form validation styles */
input:invalid, textarea:invalid, .required {
  border: 2px solid orange;
  border-radius: 5px;
}

input:focus:invalid, textarea:focus:invalid  {
  border: none;
}
