/* 	Developer: Max Coller 
	Start Date:  04/23/2023 */
	
/* set the height of the body and html to 100%*/
html, body {
  height: 100%;
  width: 100%;
}

header {
  width: 105%;
  margin: 0px -10px 0px -10px;
  background-color: rgb(240,248,255);
}	

header h1 {
	font-family: Garamond;
	margin-left:10px;
}

section{
 	margin:20px;
}

#calculator{
	border: 4px solid blue;
  	border-radius: 5px;
  	display: inline-block;
  	padding:10px;
}

#display{
	margin: 0px 0px 20px 0px;
	width: 185px;
	border: 2px solid black;
  	border-radius: 5px;
  	font-size: 2em;
  	text-align: right;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 40px);
  grid-auto-rows: 40px;
  gap: 10px;
}

footer{
	text-align: center;
	font-size: .75em;
	font-family: Garamond;
	background-color: rgb(200,200,200);
	margin:0px -10px 20px -10px;
}